.header {
  background: #ffffff url("../../assets/edited/header.png") no-repeat  ;
  background-size: cover;
  display: grid;
  grid-template-rows: 2fr 1fr;
  min-height: 250px;

  &__logo {
    width: 20rem;
    justify-self: start;
    align-self: center;
    padding-left: 40px;
  }

}