.navbar {
  padding-top: 5px;

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__link {
    padding: 0.5rem 0.75rem;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-weight: medium;

    &:hover {
      color: #ef6716;
      border-bottom: 2px solid #ef6716;

    }
  }
}



