.form-group {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  @media (min-width: 361px) {
    margin: 20px 20px
  }
}

.textInput {
  margin-top: 10px;
  padding: 0.5rem;
  border-radius: 5px;

}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;

  &__danger {
    color: #771c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

