.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0.5fr auto 0.5fr;


  @media (min-width:540px) {
    margin: 0 10%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    height: 100%;

    background-color: #f8f8f8;
  }

}


blockquote {
  font-family: Georgia, serif;
  position: relative;
  margin: 1em;
  padding: 2em 2em 0.5em 3em;
  color: #545454;
}
blockquote:before {
  font-family: Georgia, serif;
  position: absolute;
  font-size: 6em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  font-family: Georgia, serif;
  position: absolute;
  float:right;
  font-size:6em;
  line-height: 1;
  right:0;
  bottom:-0.5em;
  content: "\201D";
}
blockquote footer {
  padding: 1em 2em 0 0;
  display: flex;
  justify-content: flex-end;

}
blockquote cite:before {
  content: "\2013";
}