.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 0.75fr auto 0.5fr;
  margin: 0 10%;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    height: 100%;

   background-color: #f8f8f8;

  }


}